$primary_color: #FD0054;
$primary_color_dark: #A80038;

$dark_color: #2B2024;
$light_color: #F2F2F2;
$grey: #BDBDBD;
$green: #27AE60;

$primary_gradient: linear-gradient(244.36deg, #A80038 0%, #FD0054 100%), #FFFFFF;
