import React from 'react';
import './{{properCase name}}.scss';

const {{properCase name}} = () => {
    return (
        <div className={`{{properCase name}}`}>

        </div>
    );
};

export default {{properCase name}};
