@use 'variables/colors';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.app-title {
  font-size: 21px;
  line-height: 26px;
}

.app-subtitle {
  font-size: 14px;
  line-height: 17px;
}

.text-danger {
  color: colors.$primary_color_dark;
}
